<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<meta name="Description" content="Information architecture, Web Design, Web Standards." />
<meta name="Keywords" content="your, keywords" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Distribution" content="Global" />
<meta name="Author" content="Erwin Aligam - ealigam@gmail.com" />
<meta name="Robots" content="index,follow" />		

<%= stylesheet_link_tag "NewHorizon"%>

<title>New Horizon</title>
	
</head>

<body>

	<!-- navigation starts here -->
	<div id="nav">
		
		<ul>
			<li id="current"><a href="index.html">Home</a></li>
			<li><a href="index.html">News</a></li>
			<li><a href="index.html">Downloads</a></li>
			<li><a href="index.html">Support</a></li>
			<li><a href="index.html">About</a></li>			
		</ul>
	
	</div>

	<!-- header starts here -->
	<div id="header">	
	
		<div id="clouds"></div>
		
		<h1 id="logo-text"><a href="index.html" title="">BiteOfTheFuture</a></h1>	
		<p id="slogan">For tomorrow belongs to the people of today...</p>				
	
	</div>	
				
	<!-- content-wrap starts here -->
	<div id="content-wrap"><div id="content">	 
	
		<div id="sidebar" >	
		
			<h3>Search Box</h3>	
			<form action="#" class="searchform">
				<p>
					<input name="search_query" class="textbox" type="text" />
  					<input name="search" class="button" value="Search" type="submit" />
				</p>			
			</form>
				
			<h3>Sidebar Menu</h3>			
			<ul class="sidemenu">
				<li><a href="index.html">Home</a></li>
				<li><a href="#TemplateInfo">TemplateInfo</a></li>
				<li><a href="#SampleTags">Sample Tags</a></li>
				<li><a href="http://www.styleshout.com/">More Templates</a> </li>
				<li><a href="http://www.dreamtemplate.com" title="Web Templates">Web Templates</a></li>
			</ul>	
				
				
			<h3>Sponsors</h3>
			<ul class="sidemenu">
				<li><a href="http://www.dreamtemplate.com" title="Website Templates">DreamTemplate</a></li>
				<li><a href="http://www.themelayouts.com" title="WordPress Themes">ThemeLayouts</a></li>
				<li><a href="http://www.imhosted.com" title="Website Hosting">ImHosted.com</a></li>
				<li><a href="http://www.dreamstock.com" title="Stock Photos">DreamStock</a></li>
				<li><a href="http://www.evrsoft.com" title="Website Builder">Evrsoft</a></li>
				<li><a href="http://www.webhostingwp.com" title="Web Hosting">Web Hosting</a></li>
			</ul>
				
			<h3>Wise Words</h3>
			<p>&quot;Cherish your visions and your dreams as they are the children of your soul; 
			the blue prints of your ultimate achievements.&quot;</p>		
			
			<p class="align-right">- Napoleon Hill</p>		
		
			<h3>Support Styleshout</h3>			
			<p>If you are interested in supporting my work and would like to contribute, you are
			welcome to make a small donation through the 
			<a href="http://www.styleshout.com/">donate link</a> on my website - it will 
			be a great help and will surely be appreciated.
			</p>	
		
		</div>	
	
		<div id="main">		
				
				<%= yield %>
		
						
			<a name="SampleTags"></a>
			<h2><a href="index.html">Sample Tags</a></h2>
							
			<h3>Code</h3>				

			<p><code>
				code-sample { <br />
				font-weight: bold;<br />
				font-style: italic;<br />				
				}
			</code></p>	
			
			<h3>Example Lists</h3>
		
			<ol>
				<li>Here is an example</li>
				<li>of an ordered list</li>								
			</ol>	
							
			<ul>
				<li>Here is an example</li>
				<li>of an unordered list</li>								
			</ul>			
			
			<h3>Blockquote</h3>			
				
			<blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat....</p></blockquote>
		
			<h3>Image and text</h3>
				
			<p>
			<a href="http://getfirefox.com/"><img src="images/firefox-gray.jpg" width="100" height="121" alt="firefox-gray"  class="float-left" /></a>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
			Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
			posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum 
			odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra 
			condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna. 
			In tristique orci porttitor ipsum. Aliquam ornare diam iaculis nibh. Proin luctus, velit pulvinar 
			ullamcorper nonummy, mauris enim eleifend urna, congue egestas elit lectus eu est. 								
			</p>
			
			<h3>Table Styling</h3>							
				
			<table>
				<tr>
					<th><strong>post</strong> date</th>
					<th>title</th>
					<th>description</th>
				</tr>
				<tr>
					<td>10.02.2007</td>
					<td><a href="index.html">Augue non nibh</a></td>
					<td><a href="index.html">Lobortis commodo metus vestibulum</a></td>
				</tr>
				<tr>
					<td>10.02.2007</td>
					<td><a href="index.html">Fusce ut diam bibendum</a></td>
					<td><a href="index.html">Purus in eget odio in sapien</a></td>
				</tr>
				<tr>
					<td>10.02.2007</td>
					<td><a href="index.html">Maecenas et ipsum</a></td>
					<td><a href="index.html">Adipiscing blandit quisque eros</a></td>
				</tr>					
			</table>
			
			<h3>Example Form</h3>
				
			<form action="#">		
				<p>
					<label>Name</label>
					<input name="dname" value="Your Name" type="text" size="30" />
					<label>Email</label>
					<input name="demail" value="Your Email" type="text" size="30" />
					<label>Your Comments</label>
					<textarea rows="5" cols="5"></textarea>
					<br />	
					<input class="button" type="submit" />		
				</p>		
			</form>	
						
			<br />
										
		</div>					
		
	<!-- content-wrap ends here -->		
	</div></div>

	<!-- footer starts here-->	
	<div id="footer-wrap">
	
		<!-- columns starts here-->		
		<div id="columns">
	
			<div class="col3">
				<h3>Tincidunt</h3>
				<ul>
					<li><a href="index.html">consequat molestie</a></li>
					<li><a href="index.html">sem justo</a></li>
					<li><a href="index.html">semper</a></li>
					<li><a href="index.html">magna sed purus</a></li>
					<li><a href="index.html">tincidunt</a></li>
				</ul>
			</div>
			<div class="col3-center">
				<h3>Sed purus</h3>
				<ul>
					<li><a href="index.html">consequat molestie</a></li>
					<li><a href="index.html">sem justo</a></li>
					<li><a href="index.html">semper</a></li>
					<li><a href="index.html">magna sed purus</a></li>
					<li><a href="index.html">tincidunt</a></li>
				</ul>
			</div>
			<div class="col3">
				<h3>Praesent</h3>
				<ul>
					<li><a href="index.html">consequat molestie</a></li>
					<li><a href="index.html">sem justo</a></li>
					<li><a href="index.html">semper</a></li>
					<li><a href="index.html">magna sed purus</a></li>
					<li><a href="index.html">tincidunt</a></li>					
				</ul>
			</div>
		
		<!-- columns ends -->
		</div>	
	
		<div id="footer-bottom">		
			<p>
			&copy; 2010 <strong>Your Company</strong>

            &nbsp;&nbsp;&nbsp;&nbsp;

			<a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>

			&nbsp;&nbsp;&nbsp;&nbsp;
			
			<a href="index.html">Home</a> |
   		    <a href="index.html">Sitemap</a> |
	  		<a href="index.html">RSS Feed</a> |
            <a href="http://validator.w3.org/check?uri=referer">XHTML</a> |
			<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
			</p>		
		</div>	
	
	<!-- footer ends-->		
	</div>

</body>
</html>
